 
 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Relação-Material-Ferramenta</title>
 
     <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/cadastro.css">
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/ferramenta.css">
     <link rel="stylesheet" href="/css/ajuda.css">
 
     <!------ CSS bootstrap-------->
     <link rel="stylesheet" href="/css/bootstrap.min.css">
 
     <!------ CSS bootstrap-------->
     <link rel="stylesheet" href="/css/fontawesome.min.css">
 
 </head>
<body class="container-ajuda-fundo">
    <div class="container-ajuda">
        <div id="card-ajuda">
            <div class="ajust-title">
                <h4 class="title-ajuda">Dica de como usar!</h4>
                <span>
                    <a href="/">
                        <i class="fa-solid fa-xmark" id="close-ajuda"></i>
                    </a>
                </span>
            </div>
           
            <p class="text-ajuda">
                Para poder a cessar o nosso aplicativo, primeiramente tem 
                que ser cadastrado na nossa plataforma, nos enviando o 
                seu e-mail mais ultilizado para ter acesso ao aplicativo. 
                Depois iremos fazer um cadastro para poder ter um controle
                do seus dados, ficando mais rapido o seu acesso ao aplicativo, 
                e também mandaremos dicas, promoções, e ajuda para os profissionais.
        
            </p>
        </div>
     </div>
      
     <script src="src/js/cadastro.js"></script>
    
    
     <script src="/js/all.min.js"></script>
     <script src="/js/bootstrap.bundle.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="/js/popover.js"></script>
     
</body>
 </html>