<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Compra Elétrico</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cadastro.css">
   

    <!------ CSS bootstrap-------->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!------ CSS bootstrap-------->
    <link rel="stylesheet" href="/css/fontawesome.min.css">

   <!--Gerador de PDF -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</head>
<body>

   
    <div class="conteudo">
        <h1>Relação de Material</h1>
    </div>
    <div class="main">
        <h4>** Relação de Cabos Elétricos **</h4>
        <!-- Cabos de 1,5mm---> 
        <h6>Cabos de 1,5mm</h6>
        <label for="cabo"></label>
         <input type="number" class="inputumber" name="number1" id="number1"> 
         <span>Metros de cabo Vermelho 1,5mm.</span>
         <br>

         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number2" id="number2"> 
         <span>Metros de cabo Amarelo 1,5mm.</span>
         <br>

         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number3" id="number3"> 
         <span>Metros de cabo Branco 1,5mm.</span>
         <br>


         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number4" id="number4"> 
         <span>Metros de cabo Preto 1,5mm</span>
         <br>


         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number5" id="number5"> 
         <span>Metros de cabo Azul 1,5mm</span>
         <br>

         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number6" id="number6"> 
         <span>Metros de cabo Cinza 1,5mm</span>
         <br>


         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number7" id="number7"> 
         <span>Metros de cabo Verde 1,5mm</span>
         <br><br>


         <!-- Cabos de 2,5mm--->
         <h6>Cabos de 2,5mm</h6>
         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number8" id="number8"> 
         <span>Metros de cabo Vermelho 2,5mm</span>
         <br>

         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number9" id="number9"> 
         <span>Metros de cabo Amarelo 2,5mm</span>
         <br>


         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number10" id="number10"> 
         <span>Metros de cabo Branco 2,5mm</span>
         <br>

         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number11" id="number11"> 
         <span>Metros de cabo Preto 2,5mm</span>
         <br>


         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number12" id="number12"> 
         <span>Metros de cabo Azul 2,5mm</span>
         <br>


         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number13" id="number13"> 
         <span>Metros de cabo Verde 2,5mm</span>
         <br><br>



         <!-- Cabos de 4mm--->
         <h6>Cabos de 4mm</h6>
         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number14" id="number14"> 
         <span>Metros de cabo Vermelho 4mm</span>
         <br>


         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number15" id="number15"> 
         <span>Metros de cabo Amarelo 4mm</span>
         <br>


         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number16" id="number16"> 
         <span>Metros de cabo Branco 4mm</span>
         <br>

         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number17" id="number17"> 
         <span>Metros de cabo Preto 4mm</span>
         <br>

         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number18" id="number18"> 
         <span>Metros de cabo Azul 4mm</span>
         <br>

         <label for="cabo"></label>
         <input type="number" class="inputumber" name="number19" id="number19"> 
         <span>Metros de cabo Verde 4mm</span>
         <br></br>

            <!-- Cabos de 6mm--->
            <h6>Cabos de 6mm</h6>
            <label for="cabo"></label>
            <input type="number" class="inputumber" name="number20" id="number20"> 
            <span>Metros de cabo Vermelho 6mm</span>
            <br>

            <label for="cabo"></label>
            <input type="number" class="inputumber"name="number21" id="number21"> 
            <span>Metros de cabo Amarelo 6mm</span>
            <br>

            <label for="cabo"></label>
            <input type="number" class="inputumber" name="number22" id="number22"> 
            <span>Metros de cabo Branco 6mm</span>
            <br>

            <label for="cabo"></label>
            <input type="number" class="inputumber" name="number23" id="number23"> 
            <span>Metros de cabo Preto 6mm</span>
            <br>

            <label for="cabo"></label>
            <input type="number" class="inputumber" name="number24" id="number24"> 
            <span>Metros de cabo Azul 6mm</span>
            <br>

            <label for="cabo"></label>
            <input type="number" class="inputumber" name="number25" id="number25"> 
            <span>Metros de cabo Verde 6mm</span>
            <br></br>

             <!-- Cabos de 10mm--->
             <h6>Cabos de 10mm</h6>
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number26" id="number26"> 
             <span>Metros de cabo Vermelho 10mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number27" id="number27"> 
             <span>Metros de cabo Preto 10mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number28" id="number28"> 
             <span>Metros de cabo Azul 10mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number29" id="number29"> 
             <span>Metros de cabo Verde 10mm</span>
             <br><br>

            <!-- Cabos de 16mm--->
            <h6>Cabos de 16mm</h6>
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number30" id="number30"> 
             <span>Metros de cabo Preto 16mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number31" id="number31"> 
             <span>Metros de cabo Azul 16mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number32" id="number32"> 
             <span>Metros de cabo Verde 16mm</span>
             <br><br>

             <!-- Cabos de 25mm--->
             <h6>Cabos de 25mm</h6>
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number33" id="number33"> 
             <span>Metros de cabo Preto 25mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number34" id="number34"> 
             <span>Metros de cabo Azul 25mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number35" id="number35"> 
             <span>Metros de cabo Verde 25mm</span>
             <br><br>

             <!-- Cabos de 35mm--->
             <h6>Cabos de 35mm</h6>
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number36" id="number36"> 
             <span>Metros de cabo Preto 35mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number37" id="number37"> 
             <span>Metros de cabo Azul 35mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number38" id="number38"> 
             <span>Metros de cabo Verde 35mm</span>
             <br><br>

             <!-- Cabos de 50mm--->
             <h6>Cabos de 50mm</h6>
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number39" id="number39"> 
             <span>Metros de cabo Preto 50mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number40" id="number40"> 
             <span>Metros de cabo Azul 50mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number41" id="number41"> 
             <span>Metros de cabo Verde 50mm</span>
             <br><br>

             <!--- Cabo Cordoalha metro ----->
             <h6>Cabos Cordoalha metro</h6>     
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number42" id="number42"> 
             <span>Metros de Cordoalha 6mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number43" id="number43"> 
             <span>Metros de Cordoalha 10mm</span>
             <br>
             
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number44" id="number44"> 
             <span>Metros de Cordoalha 16mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number45" id="number45"> 
             <span>Metros de Cordoalha 25mm</span>
             <br>

             <!----- Cabo Flexivel PP 750V--------->
             <h4>** Cabo Flexível PP 750V **</h4>
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number46" id="number46"> 
             <span>Metros de cabo Flexível PP 2 x 1,5mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number47" id="number47"> 
             <span>Metros de cabo Flexível PP 3 x 1,5mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number48" id="number48"> 
             <span>Metros de cabo Flexível PP 4 x 1,5mm</span>
             <br><br>
               
             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number49" id="number49"> 
             <span>Metros de cabo Flexível PP 2 x 2,5mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number50" id="number50"> 
             <span>Metros de cabo Flexível PP 3 x 2,5mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber"name="number51" id="number51"> 
             <span>Metros de cabo Flexível PP 4 x 2,5mm</span>
             <br><br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number52" id="number52"> 
             <span>Metros de cabo Flexível PP 2 x 4mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number53" id="number53"> 
             <span>Metros de cabo Flexível PP 3 x 4mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number54" id="number54"> 
             <span>Metros de cabo Flexível PP 4 x 4mm</span>
             <br><br>

             <label for="cabo"></label>
             <input type="number" class="inputumber"name="number55" id="number55"> 
             <span>Metros de cabo Flexível PP 2 x 6mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number56" id="number56"> 
             <span>Metros de cabo Flexível PP 3 x 6mm</span>
             <br>

             <label for="cabo"></label>
             <input type="number" class="inputumber" name="number57" id="number57"> 
             <span>Metros de cabo Flexível PP 4 x 6mm</span>
             <br><br>

             <div>
               <button
               form="form-cable"
               title="botão para salvar relação de material" 
               id="btnSalvarMaterial">
               Enviar
            </button>
             </div>
            
    </div>
   
<div class="todo">

   <div class="card-imp">
      <span class="close" onclick="deletar()">x</span>
      
      <h4>** Relação de Cabos Elétricos **</h4>
      <div class="row fontAtual">
        <div class="col">
            <div class="demo1"></div>
            <div class="demo2"></div>
            <div class="demo3"></div>
            <div class="demo4"></div>
            <div class="demo5"></div>
            <div class="demo6"></div>
            <div class="demo7"></div>
            <div class="demo8"></div>
            <div class="demo9"></div>
            <div class="demo10"></div>
            <div class="demo11"></div>
            <div class="demo12"></div>
            <div class="demo13"></div>
            <div class="demo14"></div>
            <div class="demo15"></div>
            <div class="demo16"></div>
            <div class="demo17"></div>
            <div class="demo18"></div>
            <div class="demo19"></div>
            <div class="demo20"></div>
            <div class="demo21"></div>
            <div class="demo22"></div>
            <div class="demo23"></div>
            <div class="demo24"></div>
            <div class="demo25"></div>
            <div class="demo26"></div>
            <div class="demo27"></div>
            <div class="demo28"></div>
            <div class="demo29"></div>
            <div class="demo30"></div>
        </div>

        <div class="col">
            <div class="demo31"></div>
            <div class="demo32"></div>
            <div class="demo33"></div>
            <div class="demo34"></div>
            <div class="demo35"></div>
            <div class="demo36"></div>
            <div class="demo37"></div>
            <div class="demo38"></div>
            <div class="demo39"></div>
            <div class="demo40"></div>
            <div class="demo41"></div>
            <div class="demo42"></div>
            <div class="demo43"></div>
            <div class="demo44"></div>
            <div class="demo45"></div>
            <div class="demo46"></div>
            <div class="demo47"></div>
            <div class="demo48"></div>
            <div class="demo49"></div>
            <div class="demo50"></div>
            <div class="demo51"></div>
            <div class="demo52"></div>
            <div class="demo53"></div>
            <div class="demo54"></div>
            <div class="demo55"></div>
            <div class="demo56"></div>
            <div class="demo57"></div>
        </div>
      </div>
      
     


      <button id="imp" onclick="gerarPdf()">Imprimir</button>
    
  </div>

</div>
    
   

    

    <script src="/js/eletrico.js"></script>

    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dist/popover.js"></script>
    <script src="/js/cadastro.js"></script>
      
</body>
</html>