<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relação-Material-Ferramenta</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ferramenta.css">

    <!------ CSS bootstrap-------->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!------ CSS bootstrap-------->
    <link rel="stylesheet" href="/css/fontawesome.min.css">

</head>
<body>
    
    <div class="container" id="ferramenta">
        <div> 
            <div class="ferramenta-link">
                <a href="/cadastro">
                    <i class="fa-solid fa-arrow-up fa-rotate-270 "></i>   
                </a>
                <span class="title-cadastro">Ferramenta</span> 
            </div>

            <div>
                <h3 class="title-ferramenta">Seja bem vindo de volta!</h3>
            </div>

            <form action="">
                <div class="row">
                    <div class="col card-ferramenta" >
                        <a href="/relacaoMaterial">
                            <i class="fa-solid fa-list" id="f-ferramenta"></i>
                        </a>
                        <p>Relação Material</p>
                    </div>

                    <div class="col card-ferramenta">
                        <a href="/agenda">
                            <i class="fa-solid fa-calendar-days" id="f-ferramenta"></i>
                        </a>
                        <p>Agenda</p>
                    </div>
                </div>
                    <div class="row">
                        <div class="col card-ferramenta">
                            <a href="/minhaConta">
                                
                                <i class="fa-solid fa-helmet-safety" id="f-ferramenta"></i>
                            </a>
                            <p>Minha Conta</p>
                        </div>
    
                        <div class="col card-ferramenta">
                            <a href="/orcamento">
                                <i class="fa-solid fa-clipboard-list "id="f-ferramenta"></i>
                            </a>
                            <p>Orçamento</p>
                        </div>

            </form>
    </div>
  
    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    
    
</body>
</html>